@import "../sass/variables";
@import "../sass/mixins";

.candy {
    width: 18%;
    height: 10rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    border: 1px solid $color__gray-light;
    line-height: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
        width: 25%;
    }

    @include respond(phone) {
        width: 40%;
    }

    .name {
        font-size: 1.8rem;
        font-weight: bold;
        color: $color__black;
        text-align: center;
    }

    .price {
        margin-top: 1.5rem;
        font-size: 1.6rem;
        color: $color__gray-dark;
    }

    .added {
        padding: .7rem;
        color: $color__gold;
        font-style: italic;
        font-size: 1.5rem;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }
}