.app {
    max-width: 120rem;
    padding: 5rem;
    display: flex;
    justify-content: center;

    main {
        flex-grow: 1;
        flex-shrink: 1;
    }

    aside {
        width: 25rem;
        padding-left: 3rem;
        flex-grow: 0;
        flex-shrink: 0;
    }

    h1, h2, h3 {
        font-family: AmericanTypewriterStd-Med;
        line-height: 1;
    }

    h1 {
        margin-bottom: 3rem;
        font-size: 3.8rem;
        text-align: center;
    }

    h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
        text-align: center;
    }
}